:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

body {
  background: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  cursor: crosshair;
  display: block;
}

.heding {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  -webkit-overflow: hidden;
}
